*{
    background-color: antiquewhite;
    margin: o;
    padding: 0;

}
span {
    background-color: gray;
}
h1 {
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
    font-style: italic;

}
img{
    /*float: ;*/
    margin:  10px, 20px, 5px;
    margin-left: 20px;
    padding: 0%;
}
    
